@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This is a demo for websockets. It is currently utilizing SignalR from the .Net framework. 
    <p>
        Stop judging me.
    </p>
    <p>
        A websocket will keep a connection open througout the life of a page or session. 
    </p>
</p>
